.banner{
  background-image: url(https://media.istockphoto.com/id/1764541644/fr/photo/cinéma-vide.jpg?s=1024x1024&w=is&k=20&c=riOQ3t9M7q1kAXaPZDQvnrLkXKYZg34bNjRXLFvK-QQ=);
    width: 100vw;
    // height: 250px;
}

.banner h1{
  padding: 150px;

}
